<div class="container-fluid m-5">
    <div class="row row-cols-2">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nombre del Plato</h5>
          <p class="card-text">Caracteristica del plato.</p>
        </div>
        <div class="card-footer d-flex justify-content-around">
            <a href="#" class="btn btn-primary">Detalles</a>
            <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
    </div>

</div>